<!--<p>Test twig template!</p>
<p>registro: {{ kint() }}</p>-->

<p>ID: {{ registro_id.id }}</p>
<p>Nombre: {{ registro_id.nombre }}</p>
<p>Apellidos: {{ registro_id.apellidos }}</p>
<p>Email: {{ registro_id.email }}</p>
<p>Teléfono: {{ registro_id.telefono }}</p>
<p>Fecha: {{ registro_id.fecha|date("m/d/Y") }}</p>
